﻿@using SportsStore.WebUI.Controllers

@model SportsStore.Domain.Entities.Product

<div class="well">
    @if (Model.ImageData != null)
    {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" width="100" height="100" 
               src="@Url.Action("GetImage", "Product",
               new { Model.ProductID })" />
        </div>
    }

    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("c")</span>
    </h3>

    @using (Html.BeginForm(CartController.AddToCartAction, CartController.Name))
    {
        @Html.HiddenFor(m => m.ProductID)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)

        <div class="pull-right">
            <input type="submit" class="btn btn-success" value="Add to cart" />
        </div>
    }

    <span class="lead"> @Model.Description</span>
</div>