﻿@using SportsStore.WebUI.Controllers

@model SportsStore.WebUI.Models.CartViewModel

@{
    ViewBag.Title = "Store: Your cart";
}

<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>

<h2> Your cart </h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Product.Name</td>
                <td class="text-right">@line.Product.Price.ToString("c")</td>
                <td class="text-right">
                    @((line.Quantity * line.Product.Price).ToString("c"))
                </td>
                <td>
                    @using (Html.BeginForm(CartController.RemoveFromCartAction, CartController.Name)) {
                        @Html.Hidden("ProductId", line.Product.ProductID)
                        @Html.HiddenFor(m => m.ReturnUrl)

                        <input type="submit" class="btn btn-sm btn-warning" value="Remove"/>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
    @Html.ActionLink("Checkout now", "Checkout",CartController.Name, null, new { @class = "btn btn-primary" })
</div>
